.pincode-padding{
  margin: 10px;

}
.data{
  border:1px solid black;
  padding:10px;
  margin:8px;
  width: 30%;
  
}
.dataStyles{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.outerStyle{
  display:flex;
}
.width-inner{
  width: 40%;
}
.input{
  width:60%;
  height:30px;
}
.input-2{
  width:70%;
  height:20px;
  margin:9px 5px;
}
.button{
  padding:7px 10px ;
  margin:10px 2px;
  font-size: large;
  color: white;
  background-color: black;
  border-radius: 10%;
}
.loader{
  width:100px;
  height:100px;
  align-items: center;
  border:10px solid lightblue;
  border-radius: 50%;
  border-top:10px solid blue;
  animation: loading 1s infinite linear;

}
.loader{
  @keyframes loading {
    0%{
      transform:rotate (360deg);
    }
    10%{
      transform:rotate (360deg);
    }
  }
}